<ion-header class="titulo" [translucent]="true">
  
  <ion-toolbar>
    <ion-title><p class="p1"><ion-icon name="musical-notes-outline"></ion-icon>
      Musica
      <ion-icon name="musical-notes-outline"></ion-icon></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item><img src="../../assets/c1.jpg">
      <ion-label><p>    Stand By Me</p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c2.jpg">
      <ion-label><p>    Rihana-Love On the Brain</p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c3.jpg">
      <ion-label><p>    Carla Morrison- Disfruto</p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c4.jpg">
      <ion-label><p>Twenty One Pilots-Chlorine </p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c5.jpg">
      <ion-label><p>   Zoe- Labios rotos</p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c6.jpg">
      <ion-label><p>   Nach-Amor Libre</p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c7.jpg">
      <ion-label><p>    Canserbero Querer querernos</p></ion-label>
    </ion-item>
    <ion-item><img src="../../assets/c8.jpg">
      <ion-label><p>Elsa y elmar ojos noche </p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
